<h1>List</h1>

<% @animals.each do |animal| %>
  <%= animal.name %>
  <%= link_to 'Edit', edit_animal_path(id: animal.id) %>
<% end %>

<h1>Add New Animal</h1>
<p>
  Name
  <%= form_for @animal do |f| %>
    <%= f.text_field :name %><br />
    <%= f.submit 'Submit' %><br />
  <% end %>
</p>
